<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Space Attack{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/style.css') }}" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('SpaceAttack.ico') }}" />

    </head>
    <body>
        

        {% block body %}
        <!-- particles.js container -->
        <div id="particles-js"></div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ include('menu.html.twig') }}
            {% else %}
                {{ include('menuStrangers.html.twig') }}
            {% endif %}
        {% endblock %}

       

        <footer>
            {% block footer %}
                <div class="container hidden-xs hidden-sm ">
                    <div class="row">
                        <div class="col-xs-6">
                             <br>
                            <h3>Borja López - Space Attack</h3>
                                                <br>
                            <p class="hidden-md"> Esta aplicacion web forma parte del video juego Space Attack, la funcion de la aplicacion es la de la gestion de los diferentes usuarios y la creacion de una comunidad. Los administradores actuararn como moderadores entre los diferentes usuarios. La creacion de esta aplicacion ha sido promovidad como parte de un proyecto de fin de grado de informatica en el 2017. El desarrolador ha sido Borja López Alonso</p>
                        </div>
                        <div class="col-xs-6">
                            <ul class="list-inline text-right">
                                <li><a href="{{ path('user_homepage') }}">{% trans %} Start {% endtrans %}</a></li>

                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><a href="{{ path('user_logout') }}">{% trans %} Logout {% endtrans %}</a></li>
                                {% else %}
                                    <li><a href="{{ path('user_login') }}">{% trans %} Sign in {% endtrans %}</a></li>
                                {% endif %}
                            </ul>
                             <hr>
                            <h3>{% trans %} Contact {% endtrans %}</h3>
                             <div class="row text-right hidden-md">
                               
                                
                             
                                <br />
                                <div class="col-xs-3">
                                    <section id="rede-s">
                                        <div class="email"> <a href="borja.lopezalonso@opendeusto.es"></a></div>
                                    </section>
                                </div>
                                <div class="col-xs-3 pull-right">
                                    <section id="rede-s">
                                        <div class="facebook"> <a href="https://www.facebook.com/UDeusto/"></a></div>
                                    </section>
                                </div>
                             </div>
   
                        </div>
                    </div>
                </div>
            {% endblock %}
        </footer>

         {% block javascripts %}
            <script src="{{ asset('public/js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('public/js/bootbox.min.js') }}"></script>
            <script src="{{ asset('public/js/particles.js') }}"></script>
            <script src="{{ asset('public/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
