{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/signin.css') }}">
{% endblock %}

{% block body %}
	<!--Inicio menu-->
	{{ parent() }}

	<!--Inicio BODY-->
	<div class="container">
		<br>
		<!--Slide de fotos-->
        <div class="row">

            <div class="col-md-1"></div>

            <div class="col-md-10 ">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">
                    <!--Indicadores-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                        <li data-target="#carousel-1" data-slide-to="4"></li>
                    </ol>
                    <!--Contnedor de los slides-->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                            <img src="{{ asset('public/images/slides/uno.png') }}"/>
                            <div class="carousel-caption hidden-xs hidden-sm">
                                <h3>{% trans %} Our journey begins  {% endtrans %} </h3>
                                <p>{% trans %} Images of the game {% endtrans %}</p>
                            </div>
                        </div>

                        <div class="item ">
                            <img src="{{ asset('public/images/slides/dos.png') }}"/>
                            <div class="carousel-caption hidden-xs hidden-sm">
                                <h3>{% trans %} Our bridge  {% endtrans %} </h3>
                                <p>{% trans %} Images of the game {% endtrans %}</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="{{ asset('public/images/slides/tres.png') }}"/>
                            <div class="carousel-caption hidden-xs hidden-sm">
                                <h3>{% trans %}Our fight {% endtrans %} </h3>
                                    
                            </div>
                        </div>

                        <div class="item ">
                            <img src="{{ asset('public/images/slides/cuatro.png') }}"/>
                            <div class="carousel-caption hidden-xs hidden-sm">
                                <h3>{% trans %} Our piloting  {% endtrans %} </h3>
                                <p>{% trans %} Images of the game {% endtrans %}</p>
                            </div>
                        </div>

                        <div class="item ">
                            <img src="{{ asset('public/images/slides/cinco.png') }}"/>
                            <div class="carousel-caption hidden-xs hidden-sm">
                                <h3>{% trans %} Our destiny{% endtrans %} </h3>
                                <p>{% trans %} Images of the game {% endtrans %}</p>
                            </div>
                        </div>

                    </div>
                     <!--Controles-->
                    <a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only" aria-hidden="true">{% trans %} Previous{% endtrans %}</span>
                    </a>
                    <a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only" aria-hidden="true">{% trans %} Next{% endtrans %}</span>
                    </a>
                </div>
            </div>

            <div class="col-md-1"></div>
            
        </div>
	</div>

    <br>
     <section class="main container">
         <div class="row">
            <section class="posts col-md-9">
                <article class="post clearfix">
                    <a href="#" class="thumb pull-left">
                        <img src="{{ asset('public/images/spaceInvaders.jpg') }}" alt="">
                    </a>
                    <h2 class="post-title">Origenes del juego</h2>
                    <p><span class="post-fecha">15 de marzo del 2017 por Borja López</span></p>
                    <p class="post-contenido text-justify">
                    Estaplicacion web hace referencia al juego Space Attack el cual se puede descargar desde esta pagina. Para descargar el juego los usuarios deben estar registrados. Space Attack esta muy basado en el mitico juego de finales de los 70 llamado Space Invaders. Desde esta aplicacion web los diferentes usuarios pueden ver sus puntuaciones y las pueden comparar con las del resto de usuarios. Tambien hay una apratado de foro el cual sirve para resobeer dudas y crear una comunidad. 
                    </p>
                </article>
             </section>

            <aside class="col-md-3 hidden-xs hidden-sm">
                <h3>Redes sociales</h3>
                <section id="twitter">
                    <a class="twitter-timeline"  href="https://twitter.com/hashtag/spaceinvaders" data-widget-id="841991144099725312">Tweets sobre #spaceinvaders</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </section>
            </aside> 

         </div>
    </section> 
{% endblock %}